<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barcomon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ORIENTATION" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarCoMonMain"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarCoReview"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DrawBarCoMon"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarCoMonBox"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarCoSearch"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProductPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BattleSetUp"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CardStore"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BattleScene"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarCoMonGameConsole"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BarCoMonsterInformation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BottleMonsterCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CanMonsterCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MugMonsterCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BattleEnd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BentoMonsterCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookMonsterCard"
            android:screenOrientation="portrait"/>
    </application>

</manifest>